<div id="cart" class="btn-group btn-block">
    <a href="index.php?route=checkout/checkout" class="cart__link">Корзина</a>
    <div class="cart__number"><span><?php echo $text_items; ?></span> товаров</div>
    <div class="cart__tprice"><span><?php echo $text_items2; ?></span> руб</div>
</div>
