
    <div class="sidebar__title">Каталог</div>
    <ul class="sidebar-nav">
        <?php foreach ($categories as $category_1) { ?>
        <?php if(!empty($category_1['children'])){ ?>
        <?php
                $class_icon2 = 'sidebar-nav__link sidebar-nav__link--var1';
            ?>
        <?php }else{ ?>
        <?php
                $class_icon2 = ' ';
            ?>
        <?php } ?>
        <li><a href="<?php echo $category_1['href'] ; ?>" class="<?=$class_icon2;?>"><?php echo $category_1['name'] ; ?></a>

            <ul class="sidebar-nav__dropmenu">
                <?php foreach ($category_1['children'] as $category_2) { ?>
                <?php if(!empty($category_2['children'])){ ?>
                <?php
                $class_icon = 'sidebar-nav__link sidebar-nav__link--var2';
            ?>
                <?php }else{ ?>
                <?php
                $class_icon = ' ';
            ?>
                <?php } ?>
                <li><a href="<?= $category_2['href']; ?>" class="<?=$class_icon;?>"><?= $category_2['name']; ?></a>
                    <?php if(!empty($category_2['children'])){ ?>
                        <ul class="sidebar-nav__submenu">
                            <?php foreach ($category_2['children'] as $category_3) { ?>
                            <li><a href="<?= $category_3['href']; ?>"><?= $category_3['name']; ?></a></li>
                            <?php } ?>
                        </ul>
                    <?php } ?>
                </li>
                    <?php } ?>
            </ul>
        </li>
            <?php } ?>
    </ul>

