INPUT.text {
    outline: none;
    border: 1px solid #ccc;
}
INPUT.text:focus {
    outline: none;
    border: 1px solid #fdaa7d; /* Рамка при получении фокуса */
}
.modal-div-style{
    width: 27%;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}
.modal-title-style{
    margin-bottom: 17px;
    font: 700 25px "houschka";
    color: #3d6b01;
    text-transform: uppercase;
    text-align: center;
    margin-top: 25px;
}
.modal-title-style_1{
    font-size: 25px;
    font-family: Exo2-Bold;
    text-transform: uppercase;
}
.form-width-style{
    width: 80%;
    margin: 0 auto;
    text-align: left;
}
.input-style{
    width: 100%;
    height: 30px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #c4c4c4;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}
.div-width-100{
    width: 100%;
}
.input-title-style{
    display: block;
    margin-bottom: 8px;
    font: 18px "proximanovacnd";
    color: #000;
    text-transform: uppercase;
    text-align: center;
}
.input-title-style-2{
    display: block;
    margin-bottom: 8px;
    font: 18px "proximanovacnd";
    color: #000;
    text-transform: uppercase;
    text-align: center;
}
.modal-btn-div-style{
    margin-top: 35px;
    text-align: center;
}
*{outline: none !important;}
.modal-btn-style,
.modal-btn-style:hover,
.modal-btn-style:focus,
.modal-btn-style:active{
    width: 100%;
    border: none;
    background-color: inherit;
    color: #fff;
    font-family: 'Exo2-Regular';
    font-size: 20px;
    padding-top: 7px;
    outline: none;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    margin-right: 4px;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.modal-btn-img-style{
    height: 74px;
    margin: 0 auto;
}
.btn_otp{
    position: relative;
    left: 20%;
    outline: none!important;
    border: none;
    cursor: pointer;
}
.modal-body{
    padding: 0 15px 0 15px !important;
}
.modal-header{
    border: none !important;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
}
.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    margin-top: 121px;
}
.modal-open .modal {
    overflow-x: hidden;
}
.fade.in {
    opacity: 1;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.input_3style33{
    width: 100%;
    height: 90px;
    padding-left: 10px;
    outline: none;
    border: 1px solid #c4c4c4;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
}